@charset 'utf-8';
/* 顶部图片 */
.header .banner {
  height: 120px;
  background: url(../img/bb3c06a430689ba2357dd7d1fbfa6bab.jpg) center;
  background-size: cover;
}
/* 导航栏 */
/* 商品信息 */
.com-product .container {
  width: 1226px;
  height: 460px;
  /*  background:green; */
  padding: 0;
  position: relative;
  /* 轮播图 */
  /* 轮播图切换按钮 */
  /* 左侧商品列表 */
  /* 左右按钮 */
  /* 下面圈圈 */
}
.com-product .container .swiper-container {
  width: 100%;
  height: 460px;
}
.com-product .container .swiper-slide {
  background-position: center;
  background-size: cover;
}
.com-product .container .swiper-button-prev {
  margin-left: 224px;
  width: 41px;
  height: 69px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.com-product .container .swiper-button-prev:hover {
  background: #333;
}
.com-product .container .swiper-button-next {
  margin-right: -10px;
  width: 41px;
  height: 69px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.com-product .container .swiper-button-next:hover {
  background: #333;
}
.com-product .container .swiper-pagination {
  margin-left: 545px;
}
/* 上边内容 */
.content-top {
  /* height: 240px; */
  margin-top: 14px;
  width: 1226px;
  margin: 14px auto 26px;
  /* background:gray; */
}
.content-top .container {
  padding: 0;
  margin: 0;
  width: 1226px;
  height: 170px;
  /* 左边列表 */
  /* 右边图片 */
}
.content-top .container .left-list {
  width: 234px;
  /* height:300px; */
  margin-right: 10px;
  padding: 0;
  background: #5f5750;
  float: left;
}
.content-top .container .left-list ul {
  margin-bottom: 0;
  overflow: hidden;
  padding: 3px;
}
.content-top .container .left-list ul li {
  float: left;
  width: 76px;
  height: 82px;
  padding: 0 3px;
  text-align: center;
  position: relative;
}
.content-top .container .left-list ul li ::before {
  content: "";
  width: 1px;
  height: 70px;
  background: #665e57;
  position: absolute;
  left: 0px;
  top: 5px;
}
.content-top .container .left-list ul li ::after {
  content: "";
  height: 1px;
  width: 64px;
  position: absolute;
  background: #665e57;
  left: 7px;
  top: 0;
}
.content-top .container .left-list ul li a {
  display: block;
  text-decoration: none;
  color: #ccc;
  margin-top: 18px;
  font-size: 12px;
}
.content-top .container .left-list ul li a img {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.content-top .container .left-list ul li a:hover {
  color: #fff;
}
.content-top .container .right-list {
  padding: 0;
}
.content-top .container .right-list > ul {
  overflow: hidden;
}
.content-top .container .right-list > ul li {
  width: 316px;
  height: 170px;
  float: left;
  margin-right: 17px;
}
.content-top .container .right-list > ul li img {
  display: block;
  width: 316px;
  height: 170px;
}
.content-top .container .right-list > ul li:nth-child(3) {
  margin-right: 0;
}
/* 中间商品 多的部分 */
.content-main {
  background: #f5f5f5;
  /* height: 8000px; */
  padding-bottom: 12px;
}
.content-main > .container {
  padding: 0;
  width: 1226px;
  /* 小米闪购 */
  /* 中间轮播图 */
  /* 手机 */
  /* 家电 */
  /* 视频 */
}
.content-main > .container .home-flashsale {
  width: 1226px;
  position: relative;
}
.content-main > .container .home-flashsale > .box-hd {
  height: 58px;
  position: relative;
}
.content-main > .container .home-flashsale > .box-bd {
  overflow: hidden;
  /* 左边倒计时 */
  /* 右边列表 */
  /* 左右切换箭头 */
}
.content-main > .container .home-flashsale > .box-bd .count-down {
  height: 340px;
  width: 234px;
  padding-top: 39px;
  float: left;
  border-top: 1px solid red;
  text-align: center;
  background: #f1eded;
}
.content-main > .container .home-flashsale > .box-bd .count-down .codn-top {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
  margin-bottom: 0;
}
.content-main > .container .home-flashsale > .box-bd .count-down > img {
  margin: 25px auto;
}
.content-main > .container .home-flashsale > .box-bd .count-down .codn-bot {
  font-size: 15px;
  color: #333;
}
.content-main > .container .home-flashsale > .box-bd .count-down .codn-num {
  margin: 28px 30px 0;
}
.content-main > .container .home-flashsale > .box-bd .count-down .codn-num span {
  width: 46px;
  height: 46px;
  display: inline-block;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
}
.content-main > .container .home-flashsale > .box-bd .count-down .codn-num i {
  font-style: normal;
  font-size: 28px;
  color: #605751;
}
.content-main > .container .home-flashsale > .box-bd > .swiper-container1 {
  width: 978px;
  height: 340px;
  float: left;
  margin-left: 14px;
  overflow: hidden;
}
.content-main > .container .home-flashsale > .box-bd > .swiper-container1 .swiper-wrapper {
  width: 100%;
}
.content-main > .container .home-flashsale > .box-bd .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-right: 14px;
  padding-top: 39px;
  border-top: 1px solid red;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content-main > .container .home-flashsale > .box-bd .swiper-slide a {
  text-decoration: none;
  width: 234px;
}
.content-main > .container .home-flashsale > .box-bd .swiper-slide a p:last-child {
  font-size: 12px;
}
.content-main > .container .home-flashsale > .box-bd .swiper-slide a p:last-child span {
  color: #ff6709;
}
.content-main > .container .home-flashsale > .box-bd .swiper-slide a p:last-child del {
  color: #ccc;
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow {
  position: absolute;
  top: 30px;
  right: 0;
  /* background: green; */
  width: 70px;
  height: 30px;
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-prev:after,
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-next:after {
  content: 'none';
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-prev,
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-next {
  width: 33px;
  height: 22px;
  border: 1px solid #e0e0e0;
  color: #b0b0b0;
  line-height: 16px;
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-prev:hover i,
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-next:hover i {
  color: #ff6700;
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-prev {
  position: absolute;
  left: 5px;
}
.content-main > .container .home-flashsale > .box-bd .toggle-arrow .swiper-button-next {
  position: absolute;
  right: 0;
}
.content-main > .container .banner-box {
  margin: 22px 0;
}
.content-main > .container .phone {
  margin-bottom: 8px;
  width: 1226px;
  /* 手机标题 */
  /* 手机详情 */
}
.content-main > .container .phone .box-hd {
  height: 58px;
  position: relative;
}
.content-main > .container .phone .box-bd {
  width: 1226px;
  padding: 0;
}
.content-main > .container .phone .box-bd > .row {
  margin: 0;
}
.content-main > .container .phone .box-bd > .row .col-md-3 > .phone-image {
  transition: all 0.3s linear;
}
.content-main > .container .phone .box-bd > .row .row {
  margin: 0;
  width: 992px;
}
.content-main > .container .phone .box-bd > .row .row a {
  text-decoration: none;
}
.content-main > .container .phone .box-bd > .row .row p:last-child {
  color: #ff6700;
}
.content-main > .container .appliance {
  margin-bottom: 8px;
  width: 1226px;
  /* background:gray; */
}
.content-main > .container .appliance .box-hd {
  height: 58px;
  position: relative;
}
.content-main > .container .appliance .box-hd .appli-more {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 16px;
}
.content-main > .container .appliance .box-hd .appli-more li {
  float: left;
  font-size: 16px;
  /* color: #333; */
  margin-left: 30px;
  cursor: pointer;
  /*   &:first-child {
                            border-bottom: 2px solid #ff6700;
                            color: #ff6700;
                        } */
}
.content-main > .container .appliance .box-bd {
  width: 1226px;
  padding: 0;
}
.content-main > .container .appliance .box-bd > .row {
  margin: 0;
}
.content-main > .container .appliance .box-bd > .row .row {
  margin: 0;
  width: 992px;
}
.content-main > .container .appliance .box-bd > .row .row a {
  text-decoration: none;
}
.content-main > .container .appliance .box-bd > .row .row p:last-child {
  color: #ff6700;
}
.content-main > .container .video {
  padding-bottom: 15px;
}
.content-main > .container .video > .box-hd {
  position: relative;
}
.content-main > .container .video > .box-hd h2 {
  margin-bottom: 0;
}
.content-main > .container .video > .container {
  width: 1226px;
}
.content-main > .container .video > .container li {
  margin-left: 14px;
  width: 296px;
  height: 285px;
  text-align: center;
  background: #fff;
  position: relative;
  transition: all 0.3s linear;
}
.content-main > .container .video > .container li:first-child {
  margin-left: 0;
}
.content-main > .container .video > .container li a {
  text-decoration: none;
}
.content-main > .container .video > .container li a div {
  width: 296px;
  height: 180px;
  margin-bottom: 30px;
}
.content-main > .container .video > .container li a div img {
  width: 296px;
  height: 180px;
}
.content-main > .container .video > .container li a div span {
  display: block;
  width: 36px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 12px;
  position: absolute;
  top: 145px;
  left: 20px;
  text-align: center;
  line-height: 18px;
  color: #fff;
}
/* 尾部 */
.public-li-size:hover,
.vedio-item:hover,
.li-last-bottom:hover,
.li-last-top:hover,
.col-md-3-li:hover,
.phone-image:hover {
  box-shadow: 0 2px 5px rgba(192, 188, 188, 0.8);
  transform: translateY(-5px);
}
/* 侧边固定定位 */
.position {
  position: fixed;
  bottom: 40px;
  right: 33px;
  width: 27px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  z-index: 250;
}
.position a {
  display: block;
  width: 25px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  position: relative;
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  color: #333;
}
.position a .position-img {
  width: 25px;
  height: 40px;
  position: relative;
}
.position a .position-img img {
  display: block;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 2px;
}
.position a .position-img img:nth-child(2) {
  display: none;
}
.position a .position-text {
  position: absolute;
  height: 28px;
  line-height: 28px;
  left: -90px;
  top: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  width: 80px;
  display: none;
}
.position a .position-text em {
  position: absolute;
  right: -10px;
  top: 6px;
  color: #fff;
}
.position a .position-code {
  position: absolute;
  top: 0;
  left: -150px;
  background: #fff;
  padding: 20px 20px;
  display: none;
}
.position a .position-code img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 5px auto;
}
.position a .position-code span {
  display: block;
  margin-top: 8px;
}
.position a:hover .position-img > img:nth-child(2) {
  display: block;
}
.position a:hover .position-text {
  display: block;
}
.position a:hover .position-code {
  display: block;
}
.position a:nth-child(6) {
  margin-top: 14px;
}
